.btn-green {
        background-color: #2E6E49;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .btn-green:hover {
        background-color: #245c3d;
    }

    .btn-green:active {
        background-color: #1b472f;
    }